
{% extends "layout.twig" %}

{% block content %}

<div class="row">
    <header class="header three cols">
        {{widget('logo', 'lochtay-logo', {"defaultlogo": asset('images/lochtay-logo.png')})|raw}}
        {{widget('companyname', 'loch-tay', {"business": "Loch Tay"})|raw}}
        <nav class="text-center">
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        </nav>
    </header>

    <div role ="main" class="nine cols">
        {{zone('main')|raw}}
        <footer class="footer">
            {{widget('content', 'footer-header', {content: '<h1>Contact Us</h1>', lines: 'all'})|raw}}
            {{widget('companyaddress', 'footer-address', {})|raw}}
            {{widget('clicktocall', 'footer-phone', {phoneText: '0800 123 123'})|raw}}
        </footer>
    </div>
  </div>

{% endblock %}